.catalog {
    width: 100%;
    height: auto;
    margin-bottom: 80px;


    &-nav {
        width: 100%;
        display: flex;
        justify-content: center;

        & ul {
            display: flex;
            width: 80%;
            gap: 40px;
            justify-content: space-between;

            & li {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                padding: 12px;

                &:active {
                    border-bottom: 1px solid #007163;
                }
            }
        }


    }

    &-title {
        width: 100%;
        margin-top: 40px;

        & h3 {
            font-family: 'Oswald';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 53px;

            color: #000000;
        }


    }

    &-cards {
        width: 100%;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 400px 400px 400px;
        gap: 80px;
        justify-content: space-between;
        overflow-x: hidden;

        & img {
            width: 100%;
            margin: 0 auto;
        }

        @media (max-width:1450px) {
            grid-template-columns: 370px 370px 370px;
            gap: 20px;
        }

        @media (max-width:1220px) {
            grid-template-columns: 400px 400px;
            gap: 40px;
            justify-content: space-around;
        }

        @media (max-width:900px) {
            grid-template-columns: 400px;

        }

      

        @media (max-width:460px) {
            grid-template-columns: 280px;
            padding: 0 60px;
        }

        &-card {
            padding: 20px;
            font-family: 'Inter';
            font-style: italic;
            font-style: normal;
            border: 2px solid #D6D0C1;

            &-title {
                display: flex;
                font-family: 'Oswald';
                font-weight: 800;
                font-size: 20px;
                line-height: 30px;
                border-bottom: 2px solid #D6D0C1;
                padding: 8px 0;

                & p {
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    margin: auto 0 auto auto;
                }

                & span {
                    color: #FFC107;
                }

            }

            &-subtitle {

                font-family: 'Inter';
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                padding: 8px 0 20px 0;
            }

            &-info {
                display: flex;
                justify-content: space-between;

                & p {

                    font-weight: 400;
                    font-size: 20px;
                    line-height: 19px;
                    font-style: normal;
                    margin: auto 0;

                    & span {
                        color: #A67C52;
                        font-weight: 700;
                    }
                }

                & a {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                    border-radius: 5px;
                    background: #007163;
                    border: 1px solid #007163;
                    padding: 10px 40px;

                    @media (max-width:500px) {
                        padding: 5px 20px;
                    }
                }
            }


        }

    }

    .eclipse {
        position: relative;
        bottom: 257px;
        left: 290px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #FFFCF6;
        text-align: center;
        border: 1px solid #D6D0C1;

        & p {
            font-size: 23px;
            color: #D6D0C1;

            &:active {
                color: #007163;
            }
        }


      
        @media (max-width:1220px) {
            bottom: 269px;
            left: 305px;
        }

        @media (max-width:900px) {
            bottom: 280px;
            left: 307px;
        }
        @media (max-width:460px) {
            top: -188px;
            left: 10px;
        }

    }
}


@media (max-width:700px) {

    .catalog-nav,
    .catalog-title {
        display: none;
    }


}