.__loginOut {
    color: #007163;
}

.btn {
    display: flex;
}


@media (max-width:1050px) {
    .btn {
        display: none;
    }

}

/*service*/

.profile {
    width: 100%;
    margin: 60px 0;
    color: #000000;

    &-title {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 53px;
    }

    &-content {
        width: 100%;
        display: grid;
        grid-template-columns: 370px auto;
        grid: 80px;

        &-card {
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

        }

        &-description {
            width: auto;
        }
    }
}



.card {
    &-title {
        font-family: 'Inter';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    &-btn {
        border: 1px solid #007163;
        background: #007163;
        border: 1px solid #007163;
        border-radius: 5px;
        text-align: center;
        padding: 10px 40px;

        & a {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }

}

.description {


    &-list {
        padding: 20px;

        & ul {
            display: flex;

            & a {
                margin-right: 20px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 19px;
                line-height: 22px;
                color: #000000;

                &:active {
                    border-bottom: 2px solid #007163;
                }
            }
        }

    }

    &-card {
        width: 100%;
        height: 82%;
        border: 1px solid #D6D0C1;
        padding: 20px;

        &-text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: 'Inter';
            font-style: normal;
            border-bottom: 1px solid #D6D0C1;

            & h4 {
                color: #A67C52;
                font-weight: 600;
                font-size: 21px;
                line-height: 24px;
            }

            & p {
                font-weight: 400;
                font-size: 17px;
                line-height: 19px;

                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        &-list {
            margin: 20px 0;

            & li {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;

                color: #000000;

                & span {
                    color: #007163;

                }
            }

            .activeLi {
                color: #D6D0C1;

                & span {
                    color: #D6D0C1;
                }
            }

        }

        &-btn {

            & a {
                border: 1px solid #007163;
                padding: 10px 40px;
                border-radius: 5px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;

                color: #007163;
            }
        }

    }
}



/*review*/

.review {
    width: 100%;
    height: 100%;

    &-container {
        max-width: calc(100% - 370px);
        margin-left: auto;

        &-title {
            display: flex;
            font-size: 24px;
            margin-bottom: 40px;

            & h3 {
                font-family: 'Oswald';
                font-style: normal;
                font-weight: 400;

                line-height: 36px;
            }

            & p {
                margin: auto 0 auto auto;

            }

            & span {
                margin: auto 0;
                border: 1px solid rgba(255, 255, 255, 0);
                color: #FFC107;
            }
        }

        &-block {
            width: 100%;
            border: 1px solid #D6D0C1;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 40px;

            &-subtitle {
                & p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}


@media (max-width:700px) {
    .profile-content{
        display: block;
        & img{
            width: 80%;
            margin: 0 auto;
        }
    }
   .review-container{
    width: 100%;
    max-width:100% ;
   }
}

.block-title {
    display: grid;
    grid-template-columns: 50px 100px 50px;
    margin-bottom: 20px;

    &-avatar {
        background: #007163;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &-data {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;


        & date {
            color: #A67C52;
        }

    }

    &-mark {

        display: flex;

        & p {

            font-weight: 800;
            font-size: 14px;
            line-height: 19px;
        }

        & span {
            color: #FFC107;
            font-size: 14px;
        }
    }
}